@import "tailwindcss";
@import "@fontsource/lexend";

@theme {
  --default-font-family: "lexend";
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-lightperiwinkle: #a5b4fc;
  --color-blueblack: #1e1b4b;
  --color-periwinkle: #818cf8;
  --color-darkperiwinkle: #4338ca;
  --color-greyperiwinkle: #f1f4f8ff;
  --color-blackperiwinkle: #312e81;
}

html,
body {
  @apply bg-white;
  @apply text-blueblack;
  scroll-behavior: smooth;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
